/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* custom css styleheet */

/* header section style */
header{
    background-color: #264653;
}
.honda-btn{
    color: white;
    background-color: #E76F51;
    font-size: 1rem;
    padding: 10px 46px;
}

/* fetured section style */
#honda-gray{
    filter: grayscale(100%);
}
.honda-color{
    color: 
    #E76F51;
}
hr.honda-line{
    width: 58.5px;
    height: 0px;
    border: 1px solid #E76F51;
    border-radius: 1px;
    margin: 0 auto;
    opacity: 100%;
}

/* happy clients style */
.honda-card{
    width: 322px;
    height: 478.01px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 1.25rem;
}
.user{
    width: 149px;
    height: 149px;
    margin: 0 auto;
}